<script context="module">
  export const load = ({ url }) => {
    const currentRoute = url.pathname

    return {
      props: {
        currentRoute
      }
    }
  }
</script>

<script>
  import { fade } from 'svelte/transition';
  import '$lib/styles/base.scss';

  export let currentRoute
</script>

{#key currentRoute}
  <main in:fade={{ duration: 150, delay: 150 }} out:fade={{ duration: 150 }}>
    <slot />
  </main>
{/key}

<footer>
  <a href="https://gitlab.com/Meptl/ccdbsearch">
    <img alt="gitlab logo" width="64px" height="64px" src="pub/gitlab-logo-500.svg">
  </a>
</footer>

<style>
  footer {
    padding: 40px 20px;
  }
  img {
    /* filter: hue-rotate(202deg) contrast(50%); */
    float: right;
  }
  main {
        background: #fff;
        box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
        border-radius: 10px;
        padding: 35px;
  }
</style>
