<script>
    import ProgressBar from '../lib/components/ProgressBar.svelte'
    import { ccentries } from '../stores.js';
    import { generateHash } from '../lib/util.ts';

    let cardNumber = ""
    let cardMonth = ""
    let cardYear = ""
    let cardCvv = ""
    let minCardYear = new Date().getFullYear()
    let submitted = false;
    let submittedAndValid = false;
    let searchComplete = false;
    let discovered = false;

    $: cardMonth = cardMonth < minCardMonth ? '' : cardMonth
    $: minCardMonth = cardYear === minCardYear ? new Date().getMonth() + 1 : 1

    function cardNumbersOnly(e) {
        cardNumber = e.target.value.replace(/[^0-9]/g, '');
        e.target.value = cardNumber;
    }

    function cvvNumbersOnly(e) {
        cardCvv = e.target.value.replace(/[^0-9]/g, '');
        e.target.value = cardCvv;
    }

    function handleSubmit(e) {
        const cardNumber = e.target["cardNumber"];
        if (cardNumber.value.length < 15) {
            cardNumber.setCustomValidity("Card number must be at least 15 characters.");
            return false;
        }
        cardNumber.setCustomValidity("");

        const items = ["cardMonth", "cardYear", "cardCvv"];
        for (let i = 0; i < items.length; i++) {
            if (!e.target[items[i]].value) {
                return false;
            }
        };
        submittedAndValid = true;
        searchComplete = false;
    }

    function progressBarComplete(e) {
        submittedAndValid = false;
        searchComplete = true;
        discovered = e.detail.found;
        if (!discovered) {
            generateHash(cardNumber).then((hash) => { $ccentries.push(hash); $ccentries = $ccentries; });
        }
    }

    function scaleOut(node, { duration }) {
        return {
            duration,
            css: t => {
                return `transform: scaleY(${t});`;
            }
        };
    }
</script>

<p id="about">
    You're credit card data could be <strong>compromised!</strong>
    Fill in the form below and we'll search the internet for any data breaches with your information.
</p>

<form class:submitted on:submit|preventDefault={handleSubmit}>
    <div>
        <label for="cardNumber">Card Number</label>
        <input id="cardNumber" type="text" minlength="15" maxlength="16"
            bind:value={cardNumber} on:input|preventDefault={cardNumbersOnly}
            required readOnly={submittedAndValid}>
    </div>

    <div class="monthRow">
        <div class="column">
            <label for="cardMonth">Expiration Date</label>
            <select id="cardMonth" bind:value={cardMonth} data-ref="cardDate" required>
                <option value="" disabled selected>Month</option>
                {#each Array(12) as _, n}
                    <option value={(n+1) < 10 ? '0' + (n+1) : (n+1)} disabled={(n+1) < minCardMonth} readOnly={submittedAndValid}>
                        {(n+1) < 10 ? '0' + (n+1) : (n+1)}
                    </option>
                {/each}
            </select>
            <select id="cardYear" bind:value={cardYear} required>
                <option value="" disabled selected>Year</option>
                {#each Array(12) as _, n}
                    <option value={n + minCardYear} readOnly={submittedAndValid}>
                        {n + minCardYear}
                    </option>
                {/each}
            </select>
        </div>

        <div class="column">
            <label for="cardCvv" class="card-input__label">CVV</label>
            <input id="cardCvv" type="text" minlength="3" maxlength="4"
                   bind:value={cardCvv} autocomplete="off" on:input|preventDefault={cvvNumbersOnly}
                   required readOnly={submittedAndValid}>
        </div>
    </div>

    <button type="submit" on:click={() => submitted = true} formnovalidate disabled={submittedAndValid}>
        Submit
    </button>
</form>

{#if submittedAndValid}
    <ProgressBar on:complete={progressBarComplete} cardNumber={cardNumber}/>
{/if}
{#if searchComplete}
    <p id="result">
        {#if discovered}
            Oh no! You're credit card data was found in our database. Please contact your credit card company to freeze your current card and request a new one.
        {:else}
            Good news! You're credit card data wasn't found in our search.
        {/if}
    </p>
{/if}


<style lang="scss">
    #about {
        padding: 10px 40px 60px 40px;
    }

    #result {
        margin: 45px 20px 25px 20px;
    }

    form {
        flex-wrap: wrap;
        margin-bottom: 30px;

        & > * {
            padding-bottom: 30px;
        }
        & > *:last-child {
            padding-bottom: 0px;
        }
    }

    .monthRow {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: auto;

        &:last-child {
            margin-right: 0;
        }
    }

    label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 500;
        color: #1a3b5d;
        width: 100%;
        display: block;
        userselect: none;
    }

    input, select {
        width: 100%;
        height: 50px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #ced6e0;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        background: none;
        color: #1a3b5d;
        font-family: "Source Sans Pro", sans-serif;

        &:hover, &:focus {
            border-color: #3d9cff;
        }

        &:focus {
            box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
        }
    }

    #cardCvv {
        /* select elements ignore padding and borders are internal.
         * The border is 1px.
         */
        height: 38px;
        max-width: 60px;
    }

    select {
        -webkit-appearance: none;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
        background-size: 12px;
        background-position: 90% center;
        background-repeat: no-repeat;

        max-width: 100px;
    }

    button {
        width: 100%;
        height: 55px;
        background: #2364d2;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 500;
        font-family: "Source Sans Pro", sans-serif;
        box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
        color: #fff;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
            filter: brightness(150%);
        }

        &:disabled {
            filter: saturate(30%);
        }
    }
    @media screen and (max-width: 480px) {
        button {
            margin-top: 10px;
        }
    }

    .submitted {
        & input:invalid, input:focus:invalid,
        select:invalid, select:focus:invalid {
            border: 1px solid #c00;
        }
    }
</style>
