* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
}

a, a:hover, a:visited, a:active {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}
