<script>
  export let cardNumber;

  import { createEventDispatcher, onMount } from 'svelte';
  import { elasticOut } from 'svelte/easing';
  import { ccentries } from '../../stores.js';
  import { generateHash } from '../util.ts';

  const targets = shuffleArray([
    "Capital One breach",
    "Home Depot breach",
    "Heartland Systems breach",
    "TJX data breach",
    "Whole Foods breach",
    "Newegg breach",
    "Court Ventures breach",
    "Equifax data breach",
    "Ashley Madison breach",
    "Bonobos breach",
    "Easyjet breach",
    "Tackle Warehouse LLC breach",
    "Harbour Plaza breach",
    "Graff data breach",
    "ZixIt breach",
    "Marriott breach",
    "phishing data",
    "recently skimmed cards",
    "your hard drive",
    "local botnets",
  ]);

  const approximateTotalTime = 10; // seconds
  const timeDeviation = 0.2;
  const itemSearchTime = approximateTotalTime / targets.length;
  let searchTarget = targets[0];
  let numComplete = 0;

  $: progress = numComplete / targets.length;
  $: complete = progress >= 1.0;
  $: searchTarget = targets[numComplete];

  const dispatch = createEventDispatcher();

  function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
  }

  function searchComplete() {
    generateHash(cardNumber)
      .then((hash) => { return $ccentries.includes(hash); })
      .then((discovered) => {
        dispatch('complete', {
          found: discovered
        });
      });
  }

  function tick() {
    numComplete += 1;
    if (numComplete == targets.length) {
      searchComplete();
    } else {
      setTimeout(tick, searchTimeout());
    }
  }

  function searchTimeout() {
    const deviationMultiplier = (1.0 + Math.random() * timeDeviation * 2 - timeDeviation)
    return Math.floor(itemSearchTime * deviationMultiplier * 1000); // msec.
  }

  onMount(() => {
    setTimeout(tick, searchTimeout());
  });

  function scaleOut(node, { duration }) {
    return {
      duration,
      css: t => {
        const eased = elasticOut(t);
        return `transform: scaleY(${eased});`;
      }
    };
  }
</script>

<div class="wrapper" in:scaleOut="{{duration: 1000}}">
  <div class="bar">
    <div class="progress" style="transform: scaleX({progress});">
    </div>
  </div>

  {#if !complete}
  <p>
    Searching {searchTarget}...
  </p>
  {/if}
</div>

<style>
  .bar {
    width: 100%;
    height: 10px;
    background-color: #aaa;
    margin-top: 60px;
  }

  .progress {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #6ae296;
    transform-origin: left center;
    transition: transform 700ms linear;
  }

  p {
    padding: 7px 0px;
  }
</style>
